## 1. Import libraries

In [3]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## 2. Import dataset

In [ ]:
df = pd.read_csv('./bike.csv')

## 3. Exploratory Data Analysis

In [6]:
df.head()
df.head(10)
df.info()
df.tail()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

# These commands are used for an initial overview and inspection of the data in a DataFrame in Python:

df.head(): Displays the first five rows of the data.
df.head(10): Displays the first ten rows of the data.
df.info(): Provides a summary of the DataFrame structure, including the number of rows, columns, data type of each column, and the count of non-null values.
df.tail(): Displays the last five rows of the data.
df.describe(): Generates a summary of descriptive statistics for the numeric columns (such as mean, standard deviation, minimum, and maximum values).

## 4. Declare feature vector and target variable

In [83]:
X = df.drop('workingday', axis=1)

y = df['workingday']

### let's take a look at feature vector(X) and target variable(y)

In [84]:
X.head()

,datetime,season,holiday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,1,9.84,14.395,75,0.0,0,1,1

In [85]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: workingday, dtype: int64

## 9. Split data into separate training and test set

In [ ]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)